.headerNav{
    width: 100%;
}

.header-icon{
    margin-right: 4px;
}

.header-link{
    color: white;
}

.header-link:hover{
    color: white;
}

.header-link a{
    color: white;
}

.header-link a:hover{
    color: white;
}